---
import { Image } from "astro:assets";

import GitHub from "@icons/GitHub.astro";
import CardButtonLink from "./CardButtonLink.astro";

import { type Project } from "@data/projects.mock";
import BadgeSkill from "@ui/BadgeSkill.astro";
import ExternalLink from "@icons/ExternalLink.astro";

interface Props {
  project: Project;
}

const { project } = Astro.props;

const { description, skills, title, urlDeploy, urlImage, urlRepository } =
  project;
---

<article
  class="flex flex-col justify-between hover:bg-neutral-800/20 rounded-2xl p-4 hover:cursor-pointer"
>
  <header>
    <h3>{title}</h3>
    <p>{description}</p>

    <div class="flex flex-wrap gap-2 pt-2 pb-3">
      {skills?.map((name) => <BadgeSkill>{name}</BadgeSkill>)}
    </div>
  </header>

  <footer class="flex flex-col gap-3">
    <Image
      height={160}
      width={400}
      class="rounded-xl h-40 object-cover object-top"
      src={urlImage}
      alt=""
    />

    <div class="flex items-center gap-2">
      {
        urlRepository && (
          <CardButtonLink aria-label="Ver Repositorio" href={urlRepository}>
            <GitHub className="size-4 text-neutral-50" />
          </CardButtonLink>
        )
      }

      {
        urlDeploy && (
          <CardButtonLink aria-label="Ver Deploy" href={urlDeploy}>
            <ExternalLink className="size-4 text-neutral-50" />
          </CardButtonLink>
        )
      }
    </div>
  </footer>
</article>
